# Ignore visual studio code files
.vscode/

# Ignore instructions file
*.pdf

# Mac formatting file to ignore
.DS_Store

# Ignore original datasets
# Code and data/*.csv

# Ignore RStudio env file
# Code and data/.Rhistory